body {
  font-family: Roboto, "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体";
}

.main {
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: 28px;
}

.main p {
  margin: 20px 0px 0px;
}

#btn {
  font-size: 18px;
  width: 220px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  background-color: #097981;
}

.main a {
  color: aliceblue;
  font-weight: bolder;
  text-decoration: none;
}

.answer_box {
  font-size: 30px;
  width: 380px;
  height: 50px;
  margin: 0px 0px 20px;
}
